@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;  
}
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 100%; 
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 45px;
}
/*=================================
  Header styling starts here
=================================*/

header {
  height: 466px;
  background: url('https://via.placeholder.com/1080x466') no-repeat;
  background-position: center;
  background-size: cover;
}

header .wrapper{
  padding: 0px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

a[href="index.html"] {
  margin: 68px 0px 0px 80px;
  border: 1px solid;
}

nav {
  padding: 30px 0px;
  margin-top:220px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  align-self: center;
  text-align: center;
  border-bottom: 10px solid rgb(138, 186, 231);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

nav .active{
  color: rgb(138, 186, 231);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  Banner styling starts here
=================================*/ 

.banner .wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #6c6c6c;
}

.banner h2 {
  margin-top: 84px;
  font-size: 28px;
  align-self: flex-start;
}

.banner p {
  box-sizing: border-box;
  padding:0px 151px 0px 0px;
  margin: 34px 0px 64px 0px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

 /*=================================
  Banner styling ends here
=================================*/

/*=================================
  Catalog styling starts here
=================================*/ 

.catalog .wrapper{
  display: flex;
  flex-direction: column;
}

.cat-grid {
  display: flex;
  flex-wrap: wrap;
}

figure {
  padding: 0px 8px;
}

figcaption {
  padding: 24px 0px 50px 0px;
  text-align: center;
  color: #6c6c6c;
}

.pagination{
    padding: 32px 0px 70px 0px;
    width: 75%;
    text-align: center;
}
.pagination a {
    color: #878380;
    text-decoration: none;
    background: #ececec;
    transition: background-color .3s;
    border: 1px solid #ececec;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 16px;
   
  }
  .pagination .page-active {
    background-color: #076599;
    color: white;

  }
  .pagination a:hover {
    background-color: #076599;
    color: white;
  }

 /*=================================
  Catalog styling ends here
=================================*/ 

/*=================================
  Help styling starts here
=================================*/ 

.help .wrapper {
  margin: 60px 0px 50px 45px;
  display: flex;
  justify-content: center;
  width: 75%;
  background: #076599;
}

.fab {
  width: 100px;
  height: 100px;
  padding: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: #fff;
}

.chat {
  padding: 50px 0px;
  color:white;
}

.chat h2{
  font-size:2rem;
  font-weight: 400;
  line-height: 1.5;
}

.chat p {
  font-size:1.2rem;
  line-height: 1.8;
}

.chat a {
  padding: 10px 25px;
  border: 1px solid white;
  margin-top: 25px;
  display: inline-block;
  color:white;
}

.chat a:hover {
  background:white;
  color: #076599;
}

 /*=================================
  Help styling ends here
=================================*/ 

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  
}





 /*=================================
  footer styling ends here
=================================*/ 
